<div style="margin-bottom: 40px;">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center">任务详情</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>任务名：开发</td>
			</tr>
			<tr>
				<td>任务类型：开发</td>
			</tr>
			<tr>
				<td>任务估时：开发天</td>
			</tr>
			<tr>
				<td>任务难度：开发</td>
			</tr>
			<tr>
				<td>任务优先级：开发</td>
			</tr>
			<tr>
				<td>任务权重：开发</td>
			</tr>
			<tr>
				<td>任务描述：开发</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary center-block" style="width:200px;margin-top:30px;">完成任务</button>
</div>

<div style="margin-bottom: 40px;">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="text-center">任务详情</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>任务名：开发</td>
			</tr>
			<tr>
				<td>任务类型：开发</td>
			</tr>
			<tr>
				<td>任务估时：开发天</td>
			</tr>
			<tr>
				<td>任务难度：开发</td>
			</tr>
			<tr>
				<td>任务优先级：开发</td>
			</tr>
			<tr>
				<td>任务权重：开发</td>
			</tr>
			<tr>
				<td>任务描述：开发</td>
			</tr>
		</tbody>
	</table>
	<button class="btn btn-primary center-block" style="width:200px;margin-top:30px;">完成任务</button>
</div>