<div class="login-page">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <img src="images/login.png" width="150px;" class="user-avatar" />
      <h1>{{app.name}}</h1>
      <form role="form" name="form">
        <div class="form-content">

          <div class="form-group">
            <input type="email" class="form-control input-underline input-lg" id="" placeholder="Email" ng-model="user.email" required>
          </div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password" ng-model="user.password" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeate Password" ng-model="repassword" required>
          </div>
        </div>
        <button type="submit" class="btn rounded-btn" ng-click="resetPwd()">重置密码</button>&nbsp;
      </form>
      <div style="width:100%;text-align:left;color:#fff;height:50px;line-height:50px;padding-left:20px;padding-right:20px;">
        <a href="/#/signin" style="color:#fff;display:block;float:left">返回登录</a>
        <a href="/#/signup" style="color:#fff;display:block;float:right">返回注册</a>
      </div>
    </div>
  </div>
</div>
